.block-gallery {
    .full {
        margin-left: -1.25rem;
        margin-right: -1.25rem;

        .row {
            div {
                text-align: center;
            }
        }
    }

    * {
        box-sizing: border-box;
    }

    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    .grid-sizer,
    .grid-item {
        width: 33.333%;
    }

    @media (max-width: 575px) {
        .grid-sizer,
        .grid-item {
            width: 100%;
        }
    }
    @media (min-width: 576px) and (max-width: 767px) {
        .grid-sizer,
        .grid-item {
            width: 50%;
        }
    }
}
