@using BioEngine.Core.Entities
@using BioEngine.Core.Site.Model
@model BioEngine.Core.Site.Model.ListViewModel<BioEngine.Core.Entities.ContentItem, int>
@{
    Layout = "~/Views/_Main.cshtml";
}
<div class="article-list">
    @foreach (var item in Model.Items)
    {
        await Html.RenderPartialAsync("Content/Show", new ContentViewModel<ContentItem>(item, ContentViewMode.Short));
    }
</div>