@using BioEngine.Core.Entities
@using BioEngine.Core.Site.Model
@model BioEngine.Core.Site.Model.EntityViewModel<BioEngine.Core.Entities.ContentItem, int>
@{
    Layout = "~/Views/_Main.cshtml";
}
<div class="article-list">
    @{
        await Html.RenderPartialAsync("Content/Show", new ContentViewModel<ContentItem>(Model.Entity, ContentViewMode.Full));  
    }
</div>